html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; list-style: none; font: 14px/24px "Microsoft YaHei"; color: #333333; }
textarea { resize: vertical; font: 14px/24px "Helvetica Neue" ,Helvetica,Arial, 'Microsoft Yahei' ,sans-serif; outline: none; }
/*body { margin: 0; padding: 0; font: 13px/24px "Microsoft YaHei"; background: url("../images/content_bg.png") repeat; color: #666666; }*/

/*
a { color: #0197E4; text-decoration: none; }
a:hover {  color: #59c6ff; text-decoration:underline; }
*/
a { text-decoration: none; transition: all 0.3s ease-in-out 0s; color: #6495ED; }
a:visited { color: #48D1CC; }
/*Transition：css3动画特性*/
a:hover { text-decoration: none; transition: all 0.3s ease-in-out 0s; color: #71C671; }
.clear { clear: both; float: none !important; }
/*!important：优先级——最高！*/
table { border-collapse: collapse; }
/*折叠，表格折叠*/
input { width: 155px; height: 15px; border: 1px solid #929596; font-family: "Microsoft YaHei"; }
/*Page width*/
div#page_container { margin: 0 auto; max-width: 1600px; min-width: 1002px; }

/*箭头*/
.arrow { border-style: solid; border-width: 5px; border-color: #646464 transparent transparent; }

#container { border: 2px solid #3A5FCD; border-top: none; border-bottom: none; padding: 10px; width: 950px; margin: 5px auto; font: 14px/24px 'Helvetica Neue' ,Helvetica,Arial, 'Microsoft Yahei' ,sans-serif; text-indent: 2em; text-align: justify; }
#container h3 { font-size: 16px; padding: 5px 0; margin: 0; color: #6495ED; }
/*日志页面*/
.l-body { font: 14px/24px 'Helvetica Neue' ,Helvetica,Arial, 'Microsoft Yahei' ,sans-serif; text-indent: 2em; text-align: justify; padding: 0 5px; }
/*头部备注*/
.l-remark { color: #388db0; font-size: 13px; line-height: 15px; padding: 10px 8px 0; }
/*文章序*/
.l-index { background-color: #f6f6f6; border: 1px dashed #ccc; color: #444; margin: 10px 0; padding: 10px 5px; font: 14px/24px 'Helvetica Neue' ,Helvetica,Arial, 'Microsoft Yahei' ,sans-serif; text-indent: 2em; line-height: 25px; }
/*文章标题*/
.l-title { text-shadow: 2px 2px 3px #222222; background-color: #6495ED; color: White; font-size: 14pt; font-weight: bold; border-radius: 3px; padding: 5px 0; margin: 15px 0; animation: 1s ease 0.2s normal both 1 bounceInLeft; transition: all 0.4s linear 0s; }
/*空间不支持*/
.l-title:hover { color: #ff7227; padding-left: 12px; }
/*关键字*/
.l-marked { color: red; background-color: #f8f8f8; border: 1px solid #eaeaea; border-radius: 3px; margin-left: 2px; margin-right: 2px; padding: 0 4px; }
/*代码关键字*/
.l-codeRemark { color: #1483b7; background-color: #f8f8f8; border: 1px solid #eaeaea; border-radius: 3px; font-family: Consolas,monospace; margin-left: 2px; margin-right: 2px; padding: 0 4px; }
.con { padding: 15px 5px; }
.return{ color:#6495ED; padding-left:10px;}
/*非关键字（次要文字）*/
.l-notMarked { color: #888; padding: 0 5px; }
.l-txtBlock { background-color: #F8F8FF; border-radius: 3px; border: 1px solid #C4C4C4; padding: 10px 0; }
.l-txt { }
/*代码容器，代码引用模板：Xcode*/
.l-code { padding: 10px 0; }